body {
    background-color: #2a2b2c;
    color: beige;
}

.blog-box {
    background-color: #c0c5cf;
}

.comment-box {
    background-color: #c0c5cf;
    color: black;
}

.push{
    /* padding-top: 0.5rem; */

}

.fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#signout {
    color: red;
    border: 1px red solid;
    background-color: #c0c5cf;
}