body {
    background-color: #2a2b2c;
    color: beige;
}

.blog-box {
    background-color: #c0c5cf;
    margin-top: 10px;
}

.comment-box {
    background-color: #c0c5cf;
    color: black;
}

.fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

#id_body_iframe{
    width: 100%;
}

.note_editor,
.note-toolbox {
    width: 100vw;
}