{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1>We have to ask you to think again as this page didnt work as intended.</h1>
            </div>
            <div class="row">
                <p>Please help yourself back to the startpage. </p>
            </div>
            <div class="row">
                <p> <a href="{% url 'home' %}" class="btn btn-secondary">Home</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}