{% extends 'base.html' %}
{% block title %} Share Your Thoughts {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Whats on your mind today?</h1>
<div class="form-group">
    <form method= "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-lg">Post
        </button>

    </form>
</div>


<script>
    var author_name = "{{ user.id }}";
    document.getElementById("author-id").value = author_name;

</script>

{% else %}


{% endif %}


{% endblock %}