{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %} Read My Mind {% endblock %}</title>

</head>

<body class="d-flex flex-column h-100 main-bg push">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Read My Mind</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Category meny -->
                    {% if meny %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for item in meny %}
                            <li><a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <!-- Navbar is splitted so that it will change if you 
                        log in and show the bits of the site that is only open for registered users. 
                        if you are not registered you will only be able to read the blog entries or 
                        check the categories   -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-blogentry' %}">Share Your Thoughts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                        <!-- Only Superuser will be able to add category since this might get out off hand quickly otherwise.   -->
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add-category' %}">Add Category</a>
                        </li>
                        {% endif %}

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


</body>

<div class="container col-12 col-lg-8">
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Made by Code Instituters</p>
        <p class="m-0 text-center text-white">Follow us:
            <a href="https://www.facebook.com" target="_blank" rel="noopener"
                aria-label="Takes you to our facebook page in a new tab"><i
                    class="fab fa-facebook-square ms-3"></i></a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener"
                aria-label="Takes you to our twitter in a new tab)"><i class="fab fa-twitter-square ms-3"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener"
                aria-label="Takes you to our instagram in a new tab"><i
                    class="fab fa-instagram-square ms-3"></i></a></p>
    </footer>
</div>

</html>