{% extends 'base.html' %}

{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>
    Written by: {{post.author.username}} {{ post.created_date}}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'edit-blogentry' post.pk %}">(Edit)</a>
            <a href="{% url 'delete-entry' post.pk %}">(Delete)</a>
        {% endif %}
    {% endif %}
</small>
<hr>

{{post.body | safe}}


<hr>
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'edit-blogentry' post.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete-entry' post.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endif %}

{% endblock %}