{% extends 'base.html' %}
{% block title %} Edit Your Post {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<h1>Changed Your Mind?</h1>
<div class="form-group">
    <form method= "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-lg">Update
        </button>

    </form>
</div>
    {% else %}
    <h1>THIS IS NOT YOUR POST</h1>
    
    {% endif %}
{% else %}
<h1>THIS IS NOT YOUR POST</h1>
{% endif %}

{% endblock %}



