{% extends 'base.html' %}
{% block title %} Edit Your Post {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<h1>Changed Your Mind?</h1>
<div class="form-group">
    <form method= "POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-lg">Update
        </button>

    </form>
</div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    <h1>If this is your post please log in to be able to edit it.</h1> 
                </div>
                <div class="row">
                    <p> If this is not your post please login and make your own post to be able to edit that one. </p>
                </div>
                <div class="row">
                <p> If you are from CI trying out this code. This loophole has been covered. But it was a nice try.</p>
                </div>
                <div class="row">
                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
<h1>THIS IS NOT YOUR POST</h1>
{% endif %}

{% endblock %}



