{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>

<ul class="list-group">
{% for post in object_list %}
    <li class="list-group-item">
        <a href="{% url 'blogpost' post.pk %}"> {{ post.title }} 
        </a> <br>
        Written by: <strong>{{ post.author.username }} </strong>
        <p>Category: <a href="{% url 'category' post.category|slugify %}"><strong>{{ post.category }}</strong></a></p> 
         <p>Posted: {{ post.created_date}}</p> 
         {% if user.is_authenticated %}
            {% if user.id == post.author.id %} 
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'edit-blogentry' post.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete-entry' post.pk %}" class="btn btn-danger">Delete</a>
                </div>
            {% endif %}
        {% endif %}
    </li>


{% endfor %}
</ul>

{% endblock %}
