{% extends 'base.html' %}

{% block content %}

<h1>Welcome to read my mind</h1>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <h3>What is this?</h3>
                <p>This is a Blog where you will be able to write about what YOU like. And others get a chance read your mind. 
                    You choose your topic and others get a chance to get a glimpse of your thoughts.
                </p>
            </div>
            <div class="row">
                <h3>Why should you join?</h3>
                <p>Writting can relive you off stress and writting is an output for alot of people. And you never know you 
                    might find another person out there that shares your thoughts and a giving exchange of great minds may take form.</p>
            </div>
            <div class="row">
                <h3>How do you join?</h3>
                <p>Its as easy as clicking the register button up on the top navbar. all needed is your email, username and password. </p>
            </div>
        </div>
    </div>
</div>
<br>
<h1>Blog Posts</h1>
<hr>

<ul class="list-group ">
    {% for post in object_list %}
    <li class="list-group-item blog-box">
        <a href="{% url 'blogpost' post.pk %}"> {{ post.title }}
        </a> <br>
        Written by: <strong>{{ post.author.username }} </strong>
        <p>Category: <a href="{% url 'category' post.category|slugify %}"><strong>{{ post.category }}</strong></a></p>
        <p>Posted: {{ post.created_date}}</p>
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'edit-blogentry' post.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete-entry' post.pk %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
<br>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="small-margin"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}